workflows/workflow_1_WORKING_MAPPINGS.json
{
  "name": "KAI - Daily F1 Research & Topic Discovery",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 6 AM SGT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "perplexityApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a Formula 1 news researcher. Extract the top trending F1 stories from the last 24 hours. Return results ONLY as a JSON array with no markdown formatting.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Find the top 5 trending Formula 1 news stories RIGHT NOW. For each story, return a JSON object with these EXACT fields: headline (string), trending_score (number 1-10), key_points (string, 2-3 sentences), teams_drivers (string, teams/drivers mentioned), content_ideas (string), sources (string, comma-separated URLs). Return ONLY the JSON array, no other text or markdown.\"\n    }\n  ],\n  \"temperature\": 0.2,\n  \"max_tokens\": 1500\n}",
        "options": {}
      },
      "id": "perplexity-research",
      "name": "Perplexity F1 Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst currentDate = new Date().toISOString().split('T')[0];\nconst currentTime = new Date().toLocaleTimeString('en-US', { \n  hour12: false, \n  hour: '2-digit', \n  minute: '2-digit',\n  timeZone: 'Asia/Singapore'\n});\n\nlet content = response.choices[0].message.content;\nlet topics = [];\n\ntry {\n  content = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  topics = JSON.parse(content);\n  if (!Array.isArray(topics)) {\n    topics = [topics];\n  }\n} catch (e) {\n  if (content.includes('##')) {\n    const sections = content.split('##').slice(1);\n    topics = sections.slice(0, 5).map((section) => {\n      const lines = section.split('\\n').filter(l => l.trim());\n      const headline = lines[0].replace(/^#+\\s*/, '').trim();\n      const bodyText = lines.slice(1).join(' ');\n      return {\n        headline: headline.substring(0, 200),\n        trending_score: 8,\n        key_points: bodyText.substring(0, 300).trim(),\n        teams_drivers: extractTeams(headline + ' ' + bodyText),\n        content_ideas: 'Reaction video',\n        sources: extractUrls(section).slice(0, 3).join(', ')\n      };\n    });\n  } else {\n    topics = [{\n      headline: 'F1 Research Summary',\n      trending_score: 7,\n      key_points: content.substring(0, 300),\n      teams_drivers: 'General',\n      content_ideas: 'General content',\n      sources: ''\n    }];\n  }\n}\n\nfunction extractTeams(text) {\n  const teams = ['Mercedes', 'Red Bull', 'Ferrari', 'McLaren', 'Aston Martin', 'Alpine', 'Williams', 'RB', 'Haas', 'Sauber', 'Verstappen', 'Hamilton', 'Leclerc', 'Norris', 'Russell'];\n  const found = teams.filter(team => text.toLowerCase().includes(team.toLowerCase()));\n  return found.length > 0 ? found.slice(0, 3).join(', ') : 'General';\n}\n\nfunction extractUrls(text) {\n  const urlRegex = /https?:\\/\\/[^\\s\\]\\)\\\"]+/g;\n  return text.match(urlRegex) || [];\n}\n\nif (!topics || topics.length === 0) {\n  topics = [{ headline: 'No topics', trending_score: 5, key_points: 'None', teams_drivers: 'General', content_ideas: 'General', sources: '' }];\n}\n\nconst sheetRows = topics.slice(0, 5).map(topic => ({\n  json: {\n    Date: currentDate,\n    ResearchTime: currentTime,\n    Status: (topic.trending_score >= 8) ? 'HIGH_PRIORITY' : 'COMPLETED',\n    TopicEvent: (topic.headline || 'Untitled').substring(0, 300),\n    TrendingScore: topic.trending_score || 5,\n    SourceURLs: (topic.sources || '').substring(0, 500),\n    KeyPoints: (topic.key_points || 'No details').substring(0, 500),\n    ContentIdeas: (topic.content_ideas || 'Reaction video').substring(0, 200),\n    AssignedWorkflow: (topic.trending_score >= 8) ? 'Long-form + Short' : 'Single Image',\n    Priority: (topic.trending_score >= 8) ? 'HIGH' : 'MEDIUM',\n    TeamDriver: (topic.teams_drivers || 'General').substring(0, 200),\n    Notes: '',\n    PerplexityQuery: 'Latest F1 news ' + currentDate\n  }\n}));\n\nreturn sheetRows;"
      },
      "id": "parse-research",
      "name": "Parse Research Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1bmBgdCDNcefQhaEpuUmS5TeNMEUnoW2H--yIrynYzYQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "F1 Research & Control",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.Date }}",
            "ResearchTime": "={{ $json.ResearchTime }}",
            "Status": "={{ $json.Status }}",
            "TopicEvent": "={{ $json.TopicEvent }}",
            "TrendingScore": "={{ $json.TrendingScore }}",
            "SourceURLs": "={{ $json.SourceURLs }}",
            "KeyPoints": "={{ $json.KeyPoints }}",
            "ContentIdeas": "={{ $json.ContentIdeas }}",
            "AssignedWorkflow": "={{ $json.AssignedWorkflow }}",
            "Priority": "={{ $json.Priority }}",
            "TeamDriver": "={{ $json.TeamDriver }}",
            "Notes": "={{ $json.Notes }}",
            "PerplexityQuery": "={{ $json.PerplexityQuery }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "write-to-sheet",
      "name": "Write to Master Control",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.Status }}",
              "rightValue": "HIGH_PRIORITY",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "filter-high-priority",
      "name": "Filter High Priority",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "182x6TaC-CRZICpglT2AV5njY6d5tAYdp2TZqQMcZ41E",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "YouTube Long-Form",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "VideoID": "={{ 'YT' + $now.format('yyyyMMdd') + '_' + $itemIndex }}",
            "PublishDate": "={{ $json.Date }}",
            "Status": "DRAFT",
            "TopicTitle": "={{ $json.TopicEvent }}",
            "VideoType": "Reaction",
            "WardrobeSelected": "",
            "EmotionMood": "",
            "ScriptGenerated": "",
            "IntroClipURL": "https://r2.kai.ai/intro-5s.mp4",
            "MainContentURLs": "",
            "OutroClipURL": "https://r2.kai.ai/outro-5s.mp4",
            "MergedVideoURL": "",
            "ThumbnailURL": "",
            "SEOTitle": "",
            "Description": "",
            "Tags": "={{ '#F1 #Formula1 #' + $json.TeamDriver.replace(/[^a-zA-Z0-9]/g, '') }}",
            "YouTubeURL": "",
            "CommentPosted": "NO",
            "CTAURL": "https://kai.bio/subscribe",
            "ErrorLog": ""
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "create-video-draft",
      "name": "Create Video Draft",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "7357730982",
        "text": "=🔔 *KAI Research Alert*\\n\\n📅 {{ $json.Date }}\\n🔥 High Priority Topic Found!\\n\\n*Topic:* {{ $json.TopicEvent }}\\n*Trending Score:* {{ $json.TrendingScore }}/10\\n*Teams/Drivers:* {{ $json.TeamDriver }}\\n\\n*Key Points:*\\n{{ $json.KeyPoints }}\\n\\n✅ Draft video created\\n🎬 Ready for script generation",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "notify-admin",
      "name": "Notify Admin",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1250, 400],
      "credentials": {
        "telegramApi": {
          "name": "boxboxagent_bot"
        }
      }
    }
  ],
  "connections": {
    "Daily 6 AM SGT": {
      "main": [[{"node": "Perplexity F1 Research", "type": "main", "index": 0}]]
    },
    "Perplexity F1 Research": {
      "main": [[{"node": "Parse Research Data", "type": "main", "index": 0}]]
    },
    "Parse Research Data": {
      "main": [[{"node": "Write to Master Control", "type": "main", "index": 0}]]
    },
    "Write to Master Control": {
      "main": [[{"node": "Filter High Priority", "type": "main", "index": 0}]]
    },
    "Filter High Priority": {
      "main": [[
        {"node": "Create Video Draft", "type": "main", "index": 0},
        {"node": "Notify Admin", "type": "main", "index": 0}
      ]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
